* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}
body {
  min-height: 1000px;
  min-width: 366px;
}
a {
  text-decoration: none;
  color: #111111;
}
hr {
  width: 95%;
  margin: 0 auto;
  border: 0;
  border-top: 1px solid #eeeeee;
}
/* 네비게이션 바 */
/* 모바일 세팅 (디폴트) */
nav {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px;
  transition: 1s ease-in-out;
  position: sticky;
  top: 0;
  z-index: 1;
}
nav .navbar__menu {
  display: none;
  list-style: none;
  flex-direction: column;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
nav .navbar__menu li {
  padding: 10px 0;
}
nav .navbar__search {
  display: none;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 3px 3px 3px 10px;
  background-color: #fafafa;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  width: 150px;
}
nav .navbar__toggleBtn {
  display: block;
  position: absolute;
  top: 17px;
  right: 24px;
  color: black;
  font-size: 20px;
}
.navbar__menu.active,
.navbar__search.active {
  display: flex;
}
/* 히어로 영역 */
.main__hero {
  padding: 10px 20px 20px 20px;
  background-image: url(images/hero_img2.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 500px;
  position: relative;
}
.main__hero .title_wrapper {
  position: absolute;
  bottom: 40px;
}
.main__hero .title_wrapper h1 {
  margin-bottom: 10px;
}
/* 메인 콘테이너 분리형 */
.separ-container {
  margin-top: 20px;
  margin-bottom: 40px;
}
.separ-container h2 {
  margin-top: 40px;
  margin-bottom: 10px;
  font-weight: 400;
  padding-left: 20px;
}
.main__separ {
  padding: 20px;
}
.main__separ .img_wrapper img {
  width: 100%;
}
.main__separ .info_wrapper {
  margin: 10px 0 10px 10px;
  /* background-color: pink; */
}
.main__separ .info_wrapper h3 {
  margin-bottom: 5px;
  font-weight: 600;
}
.main__separ .info_wrapper h4 {
  margin-bottom: 20px;
  font-weight: 300;
}
.main__separ .info_wrapper .info_btn {
  background-color: black;
  border-radius: 20px;
  padding: 10px 20px;
  display: inline-block;
  font-size: 12px;
}
.main__separ .info_wrapper .info_btn a {
  color: white;
}
/* 메인 콘테이너 오버레이형 */
.overlay-container {
  margin-top: 20px;
  margin-bottom: 80px;
  overflow: hidden;
}
.overlay-container h2 {
  margin-top: 40px;
  margin-bottom: 10px;
  font-weight: 400;
  padding-left: 20px;
}
.main__overlay {
  padding: 20px 20px 0 20px;
  position: relative;
}
.main__overlay .img_wrapper {
  overflow: hidden;
}
.main__overlay .img_wrapper img {
  width: 100%;
  transition: transform 1s;
}
.main__overlay .hover_area:hover img {
  transform: scale(1.1);
}
.main__overlay .info_wrapper {
  position: absolute;
  right: 40px;
  bottom: 70px;
  text-align: right;
}
.main__overlay .info_wrapper h3 {
  margin-bottom: 10px;
  font-weight: 600;
  color: white;
}
.main__overlay .info_wrapper h4 {
  margin-bottom: 30px;
  font-weight: 300;
  color: white;
}
.main__overlay .info_wrapper .info_btn {
  background-color: white;
  border-radius: 20px;
  padding: 10px 20px;
  display: inline-block;
  font-size: 12px;
}
/* 푸터 영역 */
footer {
  background-color: #111111;
  padding: 40px 40px;
  color: white;
}
footer .ft_title {
  margin-bottom: 20px;
}
footer .ft_title h2 {
  font-size: 20px;
  font-weight: 300;
  font-family: Avenir, Arial, Sans-serif;
}
footer .ft_col_wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
footer .ft_col_wrapper .col2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
footer .ft_col_wrapper .col3 dd {
  float: left;
  margin-right: 10px;
  font-size: 17px;
}
footer .ft_col_wrapper dt {
  font-size: 12px;
  margin-bottom: 5px;
}
footer .ft_col_wrapper dd {
  font-size: 9px;
  color: #999999;
  margin-bottom: 5px;
}
footer .ft_col_wrapper dd a {
  /* display: inline-block; */
  text-decoration: none;
  color: #999999;
}
footer .ft_taa_wrapper {
  margin-bottom: 20px;
  font-size: 9px;
  color: #999999;
}
footer .ft_taa_wrapper .taa1 {
  margin-bottom: 5px;
}
footer .ft_taa_wrapper .taa2 span {
  margin-right: 10px;
}

/* 반응형 */
@media (min-width: 640px) {
  .mobile-only {
    display: none;
  }
  /* 네비게이션 바 */
  nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    transition: 1s ease-in-out;
    overflow: hidden;
  }
  nav .navbar__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
  }
  nav .navbar__menu li {
    margin: 0 10px;
  }
  nav .navbar__search {
    display: flex;
    margin: 0;
  }
  nav .navbar__toggleBtn {
    display: none;
    position: absolute;
    top: 27px;
    right: 24px;
  }
  /* 히어로 영역 */
  .main__hero {
    padding: 10px 20px 20px 20px;
    background-image: url(images/hero_img2.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
  }
  .main__hero .title_wrapper {
    text-align: center;
    position: static;
  }
  .main__hero .title_wrapper h1 {
    margin-bottom: 10px;
  }
  /* 메인 콘테이너 분리형 */
  .separ-container {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 0 40px;
  }
  .separ-container h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 400;
    text-align: center;
    padding: 0;
  }
  .main__separ {
    padding: 20px;
    margin-bottom: 20px;
    float: left;
    width: 50%;
  }
  /* 메인 콘테이너 오버레이형 */
  .overlay-container {
    margin-top: 20px;
    margin-bottom: 40px;
    height: 100%;
    padding: 0 40px;
  }
  .overlay-container h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 400;
    text-align: center;
    padding: 0;
  }
  .main__overlay {
    padding: 20px;
    position: relative;
    float: left;
    width: 50%;
  }
  .main__overlay .info_wrapper {
    position: absolute;
    right: 40px;
    bottom: 50px;
    text-align: right;
  }
  .main__overlay .info_wrapper h3 {
    margin-bottom: 10px;
    font-weight: 600;
    color: white;
  }
  .main__overlay .info_wrapper h4 {
    margin-bottom: 30px;
    font-weight: 300;
    color: white;
  }
  .main__overlay .info_wrapper .info_btn {
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    display: inline-block;
    font-size: 12px;
  }

  /* 푸터 영역 */
  footer {
    background-color: #111111;
    padding: 40px 40px;
    color: white;
  }
  footer .ft_title {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  footer .ft_col_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }
  footer .ft_col_wrapper .col2 {
    margin-top: 0;
    margin-bottom: 0;
  }
  footer .ft_taa_wrapper {
    font-size: 9px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .mobile-only {
    display: none;
  }
  .main__overlay {
    padding: 20px;
    position: relative;
    float: left;
    width: 33%;
  }
  footer .ft_taa_wrapper {
    font-size: 9px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
